# Node.js
node_modules
node_modules.zip
npm-debug.log
package-lock.json
*.json

/.eslintcache
/.nyc_output
/coverage
/dist
/output
/releases

# Development Env (Jetbrains, Vim, macOS)
.idea/
*.swp
.DS_store
